body {
  background-color: navajowhite;
  font-family: Dyuthi;
}

#banner {
  text-align: center;
}

#logo {
  font-family: "Ink Free", "Brush Script MT", Tahoma, sans-serif;
  background-color: coral;
  color: seagreen;
  text-decoration: none;
  font-size: 48px;
  font-weight: bold;
}

.centered-images {
  text-align: center;
}

.centered-images img {
  height: 300px;
  width: auto;
}

#recipe-list {
  list-style-type: none;
  text-align: center;
}

.recipe a {
  text-decoration: none;
  font-size: 32px;
}

.odd {
  background-color: coral;
}

.odd a {
  color: rgb(63, 104, 81);
}

.even a {
  color: rgb(128, 115, 243);
}
